@(products: List[models.Product])

<!-- Pass page title and content {html between braces} to the main view -->
@main("Products") {
  <!-- HTML content for the index view -->
  <div class="row">
      <div class="col-sm-2">
        <div class="well">
          <h4>Categories</h4>
        </div>
      </div>
      <div class="col-sm-10">

        @if(flash.containsKey("success")){
          <div class="alert alert-success">
            @flash.get("success")
            </div>
          }

        <table class="table table-bordered table-hover table-condensed">
          <thead>
          <!-- The header row-->
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Stock</th>
            <th>Price</th>
          </tr>
          </thead>
          <tbody>
            <!-- Product row(s) -->
					<!-- Start of For loop - For each p in products add a row -->
					@for(p <- products) {
					<tr>
              <td>@p.getId</td>
              <td>@p.getName</td>
              <td>@p.getDescription</td>
              <td>@p.getStock</td>
              <td>&euro; @("%.2f".format(p.getPrice))</td>
					</tr>
					} <!-- End of For loop -->
          </tbody>
        </table>
        <p>
          <a href="@routes.HomeController.addProduct()">
            <button class="btn btn-primary">Add a Product</button>
            </a>
          </p>
      </div>
  </div>
  <!-- End of content for main -->
}